:root{
    --crust: #11111b;
    --mantle: #181825;
    --base: #1e1e2e;
    --text: #cdd6f4;
    --red: #f38ba8;
    --mauve: #cba6f7;
    --flamingo: #f2cdcd;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --green: #a6e3a1;
    --teal: #94e2d5;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f1f1f;
    color: white;
}
  .chart {
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .bar {
    margin-bottom: 10px;
    display: flex;
    align-items:flex-start;
    justify-content:left;
  }
  .bar-name {
    width: 50px;
  }
  .bar-progress {
    flex-grow: 1;
    height: 20px;
    border-radius: 5px;
    background-color: var(--crust);
    margin-left: 0;
    overflow: hidden;
    margin-right: 10px;
  }
  .bar-fill {
    display: block;
    height: 100%;
    background-color: var(--red);
  }
  .percentage {
    margin-top: 5px;
    font-weight: bold;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .fixed-size-container {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 800px; /* Set the desired width */
    height: 900px; /* Set the desired height */
    overflow: hidden;
  }

  .fullscreen-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full viewport width */
    height: 100%; /* Full viewport height */
    background: var(--red);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
  }
  .fullscreen-form input {
    border: none;
    font-size: 20px;
    border-radius: 1em;
    padding: 10px;
    margin: 5px;
  }
  .fullscreen-form button {
    margin-top: 5px;
    font-size: 20px;
    font-size: bold;
    border-radius: 1em;
    border: none;
    padding: 20px;
    cursor: pointer;
  }
  
  
  .commits-graph {
    display: grid;
    grid-template-columns: repeat(10, 10px);
    grid-template-rows: repeat(10, 10px);
    justify-items: center; /* Aligns items horizontally in the center */
    align-items: center; /* Aligns items vertically in the center */
    gap: 25px;
    margin:0 0 20px 0;
  }
  
  .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--teal);
  }

  /* Add your styles for the chart content */
.chart-content {
  width: 600px; /* Set the desired width */
  height: auto; /* Set the desired height */
  border: 1px solid #000; /* Add a border to visualize the area to be captured */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-content h2 {
  margin: 8px 0;

}

.chart-content p {
  margin: 5px 0;
}

#captureButton {
  margin-top: 15px;
  font-size: 20px;
  font-size: bold;
  border-radius: 1em;
  border: none;
  padding: 20px;
  background-color: var(--red);
  cursor: pointer;
}

.countdown-timer {
  color: var(--red);
  font-weight: bold;
  margin-bottom: 20px;
}


/* Adjustments for smaller screens */
@media only screen and (max-width: 600px) {

  body {
    font-size: 16px;
  }

  .fullscreen-form {
    font-size: 16px;
  }

  .fullscreen-form input {
    font-size: 16px;
    padding: 5px;
  }

  .fullscreen-form button {
    padding: 12px;
  }

  .chart-content {
    width: 90%;
    /* min-height: 550px; */
    height: auto;
    padding: 5px;
    text-align: center;
  }

  .chart-content h2 {
    font-size: 20px;
  }

  .chart {
    width: 100%;
  }

  .bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .bar-name {
    width: auto;
    margin-bottom: 5px;
  }

  .bar-progress {
    margin-left: 0;
    margin-right: 0;
  }

  .bar-fill {
    margin-left: 0;
    margin-right: 0;
  }

  .percentage {
    margin-top: 3px;
  }

  #captureButton {
    font-size: 16px;
    padding: 12px;
  }

  .countdown-timer {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .dot {
    width: 20px;
    height: 20px;
  }

  .commits-graph {
    gap: 15px;
  }

  .fixed-size-container {
    height: 900px;
    width: 600px;
  }
  
  .fullscreen-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

}
